{% extends "base.html" %}

{% block title %}Информация о сайте {{url.name}} {% endblock %}

{% block content %}
<div class="container mt-3">
  <h1 class="mb-3">Сайт: {{url.name}}</h1>

  <table class="table table-bordered" data-test="url">
    <tr>
      <td> ID </td>
      <td> {{ url.id }}</td>
    </tr>
    <tr class="table-active">
      <td>Имя</td>
      <td>{{ url.name }}</td>
    </tr>
    <tr>
      <td>Дата создания</td>
      <td>{{ url.created_at.strftime("%Y-%m-%d") }}</td>
    </tr>
  </table>

  <section>
    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="{{ url_for('main.add_check_for_url', id=url.id) }}" method="post">
      <input type="submit" value="Запустить проверку" class="btn btn-primary">
    </form>

    <div class="table-responsive">
      <table class="table table-bordered mt-3" data-test="checks">
        <thead>
          <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата создания</th>
          </tr>
        </thead>
        <tbody>
          {% for check in checks %}
          <tr>
            <td>{{ check.id }}</td>
            <td>{{ check.status_code or "" }}</td>
            <td>{{ (check.h1 or "")|truncate(200) }}</td>
            <td>{{ (check.title or "")|truncate(200) }}</td>
            <td>{{ (check.description or "")|truncate(200) }}</td>
            <td class="text-nowrap">{{ check.created_at.strftime("%Y-%m-%d") }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
{% endblock %}